@font-face {
    font-family: "SB Sans Interface";
    src: url("./assets/fonts/SBSansInterface-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Text Mono";
    src: url("./assets/fonts/SBSansInterface-Semibold.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

head {
    display: none;
}

fieldset {
    border: none;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    background-color: hsla(240, 5%, 96%, 1);
    height: 100%;
    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;

    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}